<div class="container">
    <form [formGroup]="toDoFormGroup">
        <h2>New ToDo</h2>
        <p>
            <label for="dateCreation">Date Creation:</label>
            <input type="text" id="dateCreation" formControlName="dateCreation"/>
        </p>

        <p>
            <label for="nomToDo">nom ToDo:</label>
            <input type="text" id="nomToDo" formControlName="nomToDo"/>
        </p>

        <p>
            <label for="estimation">estimation:</label>
            <input type="text" id="estimation" formControlName="estimation"/>
        </p>

        <p>
            <label for="dateRealisation">date Realisation:</label>
            <input type="text" id="dateRealisation" formControlName="dateRealisation"/>
        </p>

        <p>
            <label for="dureeRealisation">duree Realisation:</label>
            <input type="text" id="dureeRealisation" formControlName="dureeRealisation"/>
        </p>

        <p>
            <label for="nomCompletUser">nomComplet User:</label>
            <input type="text" id="nomCompletUser" formControlName="nomCompletUser"/>
        </p>
        <p><button (click)="saveToDo()">Save</button></p>

    </form>      
</div>


<!--
            <mat-form-field appearance="outline">
                <mat-label>date Creation</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateCreation">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Nom ToDo</mat-label>
                <input matInput formControlName="nomToDo">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Estimation</mat-label>
                <input matInput formControlName="estimation">
            </mat-form-field>

            <mat-radio-group appearance="outline" formControlName="isDone">
                <mat-radio-button value="1">True</mat-radio-button>
                <mat-radio-button value="2">False</mat-radio-button>
            </mat-radio-group>
            
            <mat-form-field appearance="outline">
                <mat-label>date Realisation</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateRealisation">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Duree Realisation</mat-label>
                <input matInput formControlName="dureeRealisation">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Status Todo</mat-label>
                <mat-select formControlName="statusTodo">
                  @for (status of todoStatus; track status) {
                    <mat-option [value]="status">{{status}}</mat-option>
                  }
                </mat-select>
            </mat-form-field>
-->