
<!-- Top menu-->
<mat-toolbar color="primary">
    <button mat-icon-button (click)="myDrawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer">ToDoList</span>

  <button mat-button>Paramètres</button> 
  <button mat-button [matMenuTriggerFor]="importMenu">
      <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
      Import
  </button>
   <mat-menu #importMenu>
      <button mat-menu-item>Load ToDoList</button>
      <button mat-menu-item>Load DATA</button>
   </mat-menu>
  <button (click)="logOut()" mat-raised-button>Logout</button>
</mat-toolbar>

<!-- side menu-->
<mat-drawer-container><!--menu-->
  <mat-drawer #myDrawer opened="true" position="start" mode="side">
      <mat-list>
          <mat-list-item>
              <button routerLink="/maJournee" mat-button>
                  <mat-icon>dashboard</mat-icon>
                  Ma journée
              </button>
          </mat-list-item>
          <mat-list-item>
              <button routerLink="/important"  mat-button>
                  <mat-icon>dashboard</mat-icon>
                  Important
              </button>
          </mat-list-item>
          <mat-list-item>
              <button routerLink="/planifie" mat-button>
                  <mat-icon>dashboard</mat-icon>
                  Planifié
              </button>
          </mat-list-item>
          <mat-list-item>
            <button routerLink="/affecteesMoi" mat-button>
                <mat-icon>dashboard</mat-icon>
                Affectées à moi
            </button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="/taches" mat-button>
                <mat-icon>dashboard</mat-icon>
                Tâches
            </button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="/portfolio" mat-button>
                <mat-icon>dashboard</mat-icon>
                Portfolio
            </button>
        </mat-list-item>
      </mat-list>
  </mat-drawer>

  <mat-drawer-content><!--contenu menu-->
      <div style="min-height: 800px">
          <router-outlet>

          </router-outlet>
      </div>
  </mat-drawer-content>

</mat-drawer-container>